<div><h3><%= form_title %></h3></div>

<div class="text-field">
  <%= form.label :name %>
  <%= form.text_field :name %>
</div>

<label for="user_id">Team Members: </label>
<%= f.select :user_id, options_from_collection_for_select(User.all, :id, :name) %>
