<h4>Teams</h4>
<ol>
  <% teams.each do |team| %>
    <p>
      <%= link_to team.name.capitalize, team %>
      <% if team.members.count.zero? %>
        <%= " (No members)" %>
      <% else %>
        (<%= pluralize(team.members.count, 'member') %>)
      <% end %>
    </p>
  <% end %>
</ol>
