
<div class="row create-btn">
  <div class="col l6">
    <%= link_to "Create Photo", new_photo_path, class: "btn" %>
  </div>
  <div class="col l6">
    <%= link_to "Create Note", new_note_path, class: "btn" %>
  </div>
</div>

<div class="row col m12">

  <div class="row col m6 dash-notes">
    <h4> Notes </h4>
    <% notes.each do |note| %>
    <div class="card file-card">
      <div class="card-content">
        <h3 class="card-title">
          <span class="waves-effect"><i class="material-icons">description</i><%= link_to "    " + note.name, note, class: "link-color" %></span>
        </h3>
      </div>
    </div>
  <% end %>
  </div>

  <div class="row col m6 dash-photos">
    <h4> Photos </h4>
    <% photos.each do |photo| %>
    <div class="card file-card">
      <div class="card-content">
        <h3 class="card-title">
          <span class="waves-effect"><i class="material-icons">image</i><%= link_to "    " + photo.name, photo, class: "link-color" %></span>
        </h3>
      </div>
    </div>
  <% end %>
  </div>
</div>
