<!-- Client would like to view there information in descending order from most
recent note to last -->

<!-- When logged into as admin it should visually look different
different -->

<h1>Create Category</h1>


<%= link_to "New Category", new_category_path %>
