<div class="row">
  <div class="col l6">
    <%= link_to "Create a Photo", new_photo_path, class: "btn" %>
  </div>
  <div class="col l6">
    <%= link_to "Create a Note", new_note_path, class: "btn" %>
  </div>
</div>

<% notes.each do |note| %>

<div class="row">
  <div class="card file-card col m8 offset-m2">
    <div class="card-content white-text">
      <h3 class="card-title">Note:</h3>
      <p><%= note.name %></p>
    </div>
  </div>
</div>

  <p><%= link_to note.name, note %></p>

<% end %>
