<div class="row">
  <%= link_to "Create Note", new_note_path, class: "btn right" %>
</div>
<div class="row">
  <%= link_to "Create Photo", new_photo_path, class: "btn right col 4" %>
</div>
<% notes.each do |note| %>

<div class="row">
  <div class="card file-card col m8 offset-m2">
    <div class="card-content">
      <h3 class="card-title">Note:
        <span><%= link_to note.name, note, class: "link-color" %></span>
      </h3>
    </div>
  </div>
</div>

<% end %>

<% photos.each do |photo| %>

<div class="row">
  <div class="card file-card col m8 offset-m2">
    <div class="card-content">
      <h3 class="card-title">Photo:
      <span><%= link_to photo.name, photo, class: "link-color" %></span>
      </h3>
    </div>
  </div>
</div>
<% end %>
