/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "materialize/components/color";
 $primary-color: #40798C;
 $secondary-color: #7D2629;
 $delete-button-color: #92130F;
 $background-text: #A9A9A9;
 @import "materialize";

.colored{
  color: $primary-color;
}

.btn {
  background-color: $primary-color;
  &:hover {
    background-color: lighten($primary-color, 10%);
  }
}

.sml-btn {
  padding: 0;
  padding-bottom: 33px;
  width: 10%;
  min-width: 70px;
  height: 30px;
}
.team-file-card {
 border: solid 0.1em #734846;
 height: auto;
 &:hover {
   box-shadow: 5px 5px 5px grey;
  }
 }

.create-btn {
  margin-top: 10px;
}

.main-header {
  .header-title {
    margin-top: 10px;
    }

  .app-title {
    min-width: 150px;
  }

  .search-box {
    margin: 15px;
    height: 25px;
    margin-bottom: 0;
    display: flex;
    #search {
      max-height: 20px;
      border-radius: 5px;
      width: 220px;
      margin: 0;
      padding-left: 2rem;
      border: 1px solid #5A5A5A;
      background: white;
    }

    .submit-butt {
      position: relative;
      bottom: 5px;
      padding-left: 0rem;
      font-size: initial;
    }

    .material-icons {
      margin-left: 15px;
      font-size: 180%;
      position: relative;
      top: -5px;
    }

    .search-icon {
      margin: auto;
      width: 50%;
    }

    .input-field {
      width: 50%;
      display: inline-flex;
    }
  }

  .checkboxes {
    max-height: 20px;
    display: flex;
    label {
      padding-left: 25px;
      margin-left: 5px;
      color: lightgray;
    }
  }
}


//######### Dashboard ############//

.file-card {
  border-bottom: solid 0.1em #DED4D3;
  border-right: solid 0.1em #DED4D3;
  &:hover {
    box-shadow: 5px 5px 5px grey;
  }

  .card-content-index {
    padding: 10px;
    word-wrap: break-word;
    .card-title-index {
      margin: 0;
      font-size: 2rem;
    }
  }

  .material-icons {
    font-size: 2rem;
    vertical-align: sub;
  }
}

@media (max-width: 800px) {
  .dash-notes {
    display: table;
    min-width: 600px;
  }
}

@media (max-width: 640px) {
  .dash-notes {
    min-width: 400px;
  }
}

@media (max-width: 540px) {
  .dash-notes {
    max-width: 200px;
  }

  .category-path {
    font-size: 20px;
  }
}

//######### Dashboard ############//


//######### Note/Photo Show ############//

.file-card-show {
  border-bottom: solid 0.1em #DED4D3;
  border-right: solid 0.1em #DED4D3;
  width: 100%;
  &:hover {
    box-shadow: 5px 5px 5px grey;
  }

  .card-content-show {
    padding: 10px;
    .card-title-show {
      margin: 0;
      font-size: 2rem;
      word-break: break-word;
      .cat-desc a {
        position: relative;
        bottom: 10px;
      }
    }

    .note-title {
      font-size: 40px;
    }

    .time {
      padding-left: 2px;
      color: $background-text;
    }

    .material-icons {
      font-size: 1.5rem;
      vertical-align: middle;
    }

    .note-photo-icon {
      font-size: smaller;
      vertical-align: baseline;
    }
  }

  .edit-delete {
    text-align: right;
    .edit-del {
      padding: 0;
      padding-bottom: 33px;
      width: 10%;
      min-width: 70px;
      height: 30px;
    }

    .del {
      background: $delete-button-color;
    }
  }
}

//######### Show ############//

.link-color {
  color: $primary-color;
  &:hover {
    text-decoration: underline;
  }
}

.heading-block {
  display: flex;
  .heading {
    text-align: center;
    min-width: 40px;
    height: 20px;
  }

  .cat {
    min-width: 70px;
  }
}

.heading-right {
  text-align: center;
  min-width: 40px;
  height: 20px;
  position: relative;
  bottom: 10px;
}

.sign-in-out-up {
  display: inline-flex;
  top: 10px;
  position: relative;
  .welcome {
    display: table;
    position: relative;
    bottom: 5px;
    right: 20px;
  }
}

.user-index {
  margin: 10px;
}

.cat-index-list-cat, .dash-list-block {
  padding: 0px;
  .cat-index-list-items, .dash-list-item {
    margin-left: 40px;
  }
}

.sign-butt {
  padding: 0 15px 0 15px;
  min-width: 110px;
  color: white;
  text-decoration: none;
  &:hover {
    background: $primary-color;
  }
}
