/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "materialize/components/color";
 $primary-color: #40798C;
 $secondary-color: #7D2629;
 $delete-button-color: #D91C12;
 @import "materialize";

 .btn {
    background-color: $primary-color;
    &:hover {
      background-color: lighten($primary-color, 10%);
    }
 }

 .main-header {
   .header-title {
     margin-top: 10px;
     font-family: cursive;
   }
   .search-box{
     margin: 20px;
   }
   .search-icon {
    margin: auto;
    width: 50%;
   }
 }

.create-butts {
  margin-top: 10px;
}

 .file-card {
   border: solid 0.1em #734846;
   &:hover {
     box-shadow: 5px 5px 5px grey;
   }
 }

 .link-color {
   color: $primary-color;
   &:hover {
     text-decoration: underline;
   }
 }

.main-header {
  header-title {
   margin-top: 10px;
  }
  .app-title {
    min-width: 150px;
  }
  .search-box {
    margin: 15px;
    height: 25px;
    margin-bottom: 0;
    display: flex;
    #search {
      max-height: 20px;
      border-radius: 5px;
      width: 220px;
      margin: 0;
      border: 1px solid #5A5A5A;
      background: #5096AD;
    }
    .submit-butt {
      position: relative;
      bottom: 5px;
      padding-left: 0rem;
      font-size: initial;
    }
    .material-icons {
      margin-left: 15px;
      font-size: 180%;
      position: relative;
      top: -5px;
    }
    .search-icon {
      margin: auto;
      width: 50%;
    }
    .input-field {
      width: 50%;
      display: inline-flex;
    }
  }
  .checkboxes {
    max-height: 20px;
    display: flex;
    label {
      padding-left: 25px;
      margin-left: 5px;
      color: lightgray;
    }
  }
}

.heading-block {
  display: flex;
  .heading {
    text-align: center;
    min-width: 40px;
  }
  .cat {
    min-width: 70px;
  }
}

.sign-in-out-up {
  display: inline-flex;
  top: 10px;
  position: relative;
  .welcome {
    display: table;
    position: relative;
    bottom: 5px;
    right: 20px;
  }
}

.user-index {
  margin: 10px;
}

.cat-index-list-cat, .dash-list-block {
  padding: 0px;
  .cat-index-list-items, .dash-list-item {
    margin-left: 40px;
  }
}

.sign-butt {
  padding: 0 15px 0 15px;
  min-width: 110px;
  color: white;
  text-decoration: none;
  &:hover {
    background: $primary-color;
  }
}
