<div> <%= link_to "Create Category", new_category_path, class: "btn" %> </div>

<% categories.each do |category| %>
  <p><%= link_to category.name + " (#{item_count(category)})", category %></p>
<% end %>
